<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | MacacaHub</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="h-screen">
    <div class="container h-full px-6 py-12">
      <div class="g-6 flex h-full flex-wrap items-center justify-center text-gray-800">
        <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
          <img src="https://images.unsplash.com/photo-1626954351560-20d3f1d1f382?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" class="w-full" alt="Macaca" />
          <p class="w-full text-center">Photo by Alexander Schimmeck on <a href="https://unsplash.com/photos/vsLEY35STc0">Unsplash</a></p>
        </div>
        <div class="text-xl md:w-8/12 lg:ml-20 lg:w-5/12">
          <p><%= username %>! Welcome to MacacaHub.👋</p>
          <p>This is your flag. <%= FL4G %></p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>